html{
    
    max-width: 100%;
    overflow-x: hidden;
}
a{
    
    text-decoration: none;
}
nav{

    background-color:black;
    height: 50px;
    position: fixed;
    float: left;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.navbar .navLinks{
    
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: medium;
}
.contactUs{

    position: relative;
    float: right;
    right: 20px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: medium;
}
.navbar .brand{

    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
}
.w3-container{
    
    top: 40px;
    width: 100%;
    margin-left: -8px;
    position: relative;
}
.w3-container:hover{

    opacity: 0.3;
}

.textImage{

    color: white;
    position:absolute;
    top: 25%;
    left:50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
}
.textImage:hover{

    color:white;
}
.w3-container:hover{

    color:black;
}
.smallBox{
    
    position: relative;
    color: white;
    position:absolute;
    top: 58%;
    left:10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 125%;
    width: 400px;
    font-style: bold;
}

.pageContent{
    
    position:relative;
    top:5vh;
}

header{
    
    position:absolute;
    width: 100%;
    text-align: center;
    font-size: 200px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    top: 90px;
}

.mainText{

    position: relative;
    width: 60%;
    left:20%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: large;
}
.imageHeader{

    position:relative;
    width: 100%;
    margin-left: -8px;
}
.preContent{

    position:relative;
    top:50px;
    height:300px;
}

.preContent h1{
    
    text-align: center;
    font-size: 80px;
}
.preContent p{
    
    font-size: 18px;
}
.btn:hover{
    background-color: lightblue;
}
.btn{
    
    width: 100px;
    height: 45px;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}
.btnText{
    
    position: relative;
    top: 30%;
    text-decoration: none;
}
.baseBoard{

    position: sticky;
    height: 300px;
    top:0;
    background-color: black;
    width: 110%;
    margin-left:-8px;
}
.textBaseBoard{

    position: relative;
    color: white;
    text-decoration: none;
    list-style-type: none;
    font-size: larger;
    line-height: 1.5;
    left: 38%;
}
#jsButtons{
    
    display: flex;
    text-decoration: none;
    width: fit-content;
}

.redjs-btn{
    
    width: 100px;
    height: 45px;
    background-color: red;
    color: white;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    border: solid black 2px;
    margin-right: 10px;
}
.redjs-btn:hover{

    background-color: lightblue;
}
.yellowjs-btn:hover{
    background-color: lightblue;
}
.greenjs-btn:hover{

    background-color: lightblue;
}
.whitejs-btn:hover{

    background-color: lightblue;
}

.yellowjs-btn{
    
    width: 100px;
    height: 45px;
    background-color: yellow;
    color: black;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    border: solid black 2px;
    margin-right: 10px;
}
.greenjs-btn{
    
    width: 100px;
    height: 45px;
    background-color: green;
    color: white;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    border: solid black 2px;
    margin-right: 10px;
}
.whitejs-btn{
    
    width: 100px;
    height: 45px;
    background-color: white;
    color: black;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    border: solid black 2px;
    margin-right: 10px;
}
.jsExampImage{

width:100%;
}
.center{
text-align: center;
}
.pageContentCS{
position: relative;
height: 100%;

}
.card-header{

    text-align: center;
}
